@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$font-style: 18px;
$heading-stack: 'Open Sans', sans-serif;
$regular-stack: 'Roboto', sans-serif;

.title {
	text-align: center;
	font-size: $font-style*3;
}

.banner {
	background-size: cover;
	background-image: url("../img/MainImage.JPG");
	height: 60vh;
	box-shadow: 5px 5px 5px grey;

	@media only screen and (max-width: 500px){
		height: 20vh;
		.title {
			font-size: $font-style*1.5;

		}
	}

	p {
		font-family: $regular-stack;
		color: #fff;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $heading-stack;
		color: #fff;
	}
}


.main {
	text-align: center;
}