@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$font-style: 18px;
$heading-stack: 'Open Sans', sans-serif;
$regular-stack: 'Roboto', sans-serif;

.title {
	text-align: center;
	font-size: $font-style*4.3;
}

.main-button {
	text-align: center;
	float: none; 
	margin: 0 auto;
}

.header {
	background-size: cover;
	background-image: url("../img/MainImage.JPG");
	height: 40vh;
}
